#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*CATEGORIES*/
.categories{ /*detaljer för just category elementet*/
  display: grid;
  grid-area: 1/1/1/1;
  max-height: 350px;
  display: flex;
  flex-direction: column;
}
#category-header{
  height: 30px;
}

.category-list{
  overflow: auto;
  position: relative;
}
.category{ /*kategorinamnet som jag vill ska vara sticky*/
  font-weight: 400;
  font-size: 120%;
  border-bottom: 2px solid rgb(145, 149, 179, 0.6);
  border-top: 2px solid rgb(145, 149, 179, 0.6);
  /* position: sticky;
  top: 0 */
}
.category-border{
  border-top: 1px solid rgb(145, 149, 179, 0.6);
}
.item{
  font-weight: 300;
  font-size: 80%;
  display: flex;
  justify-content: space-between;
}

.item-add{
  display: flex; 
  align-self: end;
}

/*ITEM-CARD*/
.item-card-container{
  display: grid;
  grid-area: 1/2/3/2;
  height: 600px;
  min-width: 380px;
}
.item-card{
  height: 570px;
  overflow: auto;
}

#add-material{
  max-height: 25px;
  max-width: 150px;
  display: none;
}
#start-tutorial{
  max-height: 25px;
  max-width: 150px;
}

#add-material-div{
 display: flex;
  align-self: end;
  justify-self: center;
  position: sticky;
}


.form{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 10px;
}

select{
  font-family:  "Pixelify Sans", sans-serif;
  font-size: 90%;
}


/*SELECTION*/
.selection{ 
  display: grid;
  grid-area: 1/3/1/3;
  max-height: 350px;
  min-width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#selection-header{
  /* height: 60px; */
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}

#selection-title{
  padding-bottom: 0px;
  margin-bottom: 0px;
  max-height: 29px;
}
#selection-info{
  max-height: 29px;
  display: flex;
  flex-direction: row;
  /* Justify-content: space-around; */
  padding-top: 0px;
  margin-top:0px;
}

.selection-nr-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
} /*Fixa ordning detta sedan. vill ha lite space mellan alla delar.*/

.selection-items{
  height: 280px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.selection-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content:center
}

/*PREVIEW OF TEXT*/

.to-forge{
  display:flex;
  justify-self: center;
  align-self: end;
}
#to-forge{
  display: flex;
  align-self: end;
  justify-self: end;
}

/*FORGE*/
#forge{
  display: flex;
  flex-direction: column;
}

#forge-buttons{
  display: flex;
  justify-content: center;
  height: 25px;
  column-gap: 20px;
}
